<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is my chat app</h1>
    <h3>Hi {% if current_user.is_authenticated %} {{current_user.username}}{% else %} Guest {% endif %}</h3>
    <form action="/chat">
        <div>
            <label>Enter your Username</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label>Enter Room Id</label>
            <input type="text" name="room" id="">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>